@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&display=swap');

/* font-family: 'Bebas Neue', cursive; 
font-family: 'Barlow', sans-serif;*/

body{
	background-color: #34C0B4;
	margin: 0;
	padding: 0;
}

#wrap{
	width:100%;
	margin:0 auto;
}

article{
	width:98%;
	margin:0 auto;
}
#copy{
	width:80%;
	font-size:100%;
	margin:0 auto;
	font-family: 'Barlow', sans-serif;
}

.clear {
	clear: both;
}

nav#top_menu {
	width:100%;
	margin:0 auto;
	height:30px;
	line-height:30px;
	/* border:1px solid black; */
	font-family: 'Bebas Neue', cursive;
	text-align:center;
}
nav#top_menu ul {
	list-style: none;
	padding:0;
	margin:0;
	display:inline-block;
}
nav#top_menu ul li {
	height: 30px;
	float: left;
	font-size:120%;
	margin:0 6px;
}
nav#top_menu a {
	text-decoration: none;
	color: #000000;
}

#logo{
	width: 300px;
	height: 100px;
	margin: 0 auto;
	text-align:center;
}

#logo a{
	text-decoration: none;
	color:yellow;
	font-size:400%;
	text-shadow:3px 3px 3px black;
	font-family: 'Bebas Neue', cursive;
}


#sub_img{
	width:95%;
	margin:0 auto;
	text-align: center;
	overflow:hidden; 
	border-radius:20px 20px 20px 20px;
}


#sub_menu {
	width: 95%;  	height:40px;
	margin: 0 auto;  	/* border:1px solid black; */
	text-align:center;  	font-family: 'Barlow', sans-serif;
	line-height:40px;
}
#sub_menu ul {
	margin: 0;  	padding: 0;
	list-style: none;  	display:inline-block;
}
#sub_menu ul li{
	margin:0 7px;
	float:left;
}
#sub_menu ul li:first-child{	margin-left:0; }
#sub_menu ul li:last-child{	margin-left:0;  }
#sub_menu a {
	text-decoration: none; 	color: white;
	font-weight: bold; font-size: 100%;
}

#front{
	width:100%;  	margin:0 auto;
	text-align:center;
	/* border:1px solid black; */ height:500px;
}

#front h2{
	font-family: 'Bebas Neue', cursive; 
}

.item{
	width: 185px;  	float: left;
	margin: 5px 5px; 	text-align: center;
	/* border:1px solid black; */
}

.item img {
	width: 180px; 	height: 180px;
	border-radius:20px 20px 20px 20px; overflow:hidden;
}

.item  a{
	text-decoration: none; 
}

#itemdetail{
	font-family: 'Barlow', sans-serif;
}

form  .submit, form  .cancel {
	height: 30px; 	width: 100px; /* 버튼의 가로 크기를 정의합니다. */
	border: 1px solid #666; /* 버튼의 테두리를 정의합니다. */
	border-radius: 10px; /* border-radius를 통해 버튼을 둥그렇게 만듭니다. */
	font-size: 14px; /* 글꼴 사이즈를 조절합니다. */
	background-repeat: repeat-x;
	background-position: center center;
	color: #fff;
	margin: 0 0 0 20px;
}

form  .submit {
	background-image: url(../images/submit_back.jpg);
}

form  .cancel {
	background-image: url(../images/cancel_back.jpg);
}


article{ width:98%; text-align:center;}
article h1{font-family: 'Bebas Neue', cursive; }
article h2{font-family: 'Barlow', sans-serif;}



#cartList {
	border-top: 2px solid #333;
	border-bottom: 1px solid #333;
	width: 100%;
	margin-bottom: 20px;
}

#cartList th, #cartList td {
	border-bottom: 1px dotted #333;
	text-align: center;
}

#cartList th a, #cartList td a{
	text-decoration: none;
	color:red;
}


/* member */
 
.mlogtitle{width:100%; height:10%; position:relative; margin:5% auto; line-height:100%;
	text-align:center; }
.mlogIdpwdBox{width:100%; height:12%; position:relative; margin:5% auto; line-height:100%;
	text-align:center; }
.mlogIdPwd{width:90%; height:10%; position:relative; margin:5% auto; line-height:100%;
	text-align:left; color:gray; }
.mloginButton{width:90%; height:10%; position:relative; margin:10px auto; line-height:100%;
	text-align:center; background:#3a3125; color:white; font-weight:bold; border:hidden;}
.mlogFindButton{width:100%; height:20%; position:relative; margin:10px auto; line-height:100%;
	text-align:center;}
.mfindButton{width:40%; height:8%; position:relative; margin:5px auto; line-height:100%;
	text-align:center;  background:#9f876b; color:white; border:hidden;}
.mjoinButton{width:60%; height:40%; position:relative; margin:5% auto; line-height:100%;
	text-align:center; background:#3a3125; color:white; font-weight:bold; border:hidden;}


